@import "tailwindcss";

:root {
  font-family: "Inter", Arial, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  min-width: 320px;
}